@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
}

body {
    color: #fff;
    background-color: rgb(28, 28, 28);
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.container {
    /* background-color: red; */
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

.helper {
    margin-top: 100px;
}

.active {
    color: gold;
}

.number label {
    font-size: 150px;
    margin: 80px;
    padding: 10px;
    border-bottom: solid 5px #fff;
    border-radius: 5px;
}

.card-number {
    background-color: #282828;
    display: inline-block;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    border-radius: 10px;
    margin: 5px;
}

.card-number label {
    font-size: 70px;
    font-weight: bold;
    transition: 0.5s;
}

.card-number label:hover {
    cursor: pointer;
}

.card-number:hover {
    background-color: #101010;
    transition: 0.2s;
    cursor: pointer;
    transform: translateY(-10px);
}

.detail,
.detail label {
    font-size: 20px;
}